player-connection-mode=Connect
player-connection-guid=3536081463
player-connection-debug=0
player-connection-project-name=A Hop in the Dark
player-connection-wait-timeout=-1
player-connection-ip=192.168.213.220
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
